[submodule "UltimateLearning/FoundryFundamentals/lib/forge-std"]
	path = UltimateLearning/FoundryFundamentals/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ultimateLearning/foundryFundamentals/forge/lib/forge-std"]
	path = ultimateLearning/foundryFundamentals/forge/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ultimateLearning/foundryFundamentals/foundryFundMe/forge/lib/forge-std"]
	path = ultimateLearning/foundryFundamentals/foundryFundMe/forge/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ultimateLearning/foundryFundamentals/foundryFundMe/forge/lib/chainlink-brownie-contracts"]
	path = ultimateLearning/foundryFundamentals/foundryFundMe/forge/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "ultimateLearning/foundryFundamentals/foundrySimpleStorage/forge/lib/forge-std"]
	path = ultimateLearning/foundryFundamentals/foundrySimpleStorage/forge/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ultimateLearning/foundryFundamentals/foundryFundMe/forge/lib/foundry-devops"]
	path = ultimateLearning/foundryFundamentals/foundryFundMe/forge/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "ultimateLearning/foundryFundamentals/foundryLottery/lib/forge-std"]
	path = ultimateLearning/foundryFundamentals/foundryLottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std@1.8.2
[submodule "ultimateLearning/chainlink/ERC20/lib/forge-std"]
	path = ultimateLearning/chainlink/ERC20/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ultimateLearning/chainlink/Automation/lib/forge-std"]
	path = ultimateLearning/chainlink/Automation/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ultimateLearning/chainlink/CCIP/lib/forge-std"]
	path = ultimateLearning/chainlink/CCIP/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ultimateLearning/chainlink/functions/lib/forge-std"]
	path = ultimateLearning/chainlink/functions/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ultimateLearning/chainlink/VRF/lib/forge-std"]
	path = ultimateLearning/chainlink/VRF/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
