[submodule "UltimateLearning/FoundryFundamentals/lib/forge-std"]
	path = UltimateLearning/FoundryFundamentals/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ultimateLearning/foundryFundamentals/forge/lib/forge-std"]
	path = ultimateLearning/foundryFundamentals/forge/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ultimateLearning/foundryFundamentals/foundryFundMe/forge/lib/forge-std"]
	path = ultimateLearning/foundryFundamentals/foundryFundMe/forge/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
